<%= link_to 'Add new recipe', new_recipe_path%>
<% @recipes.each do |recipe| %>
   <div>
   <div>
   <%= link_to recipe_path(recipe.id) do%>
    <p><%= recipe.name%></p>
   <%end%>
   <p><%= recipe.description%></p>
   </div>
   <%= button_to "Delete", recipe_path(recipe.id), method: :delete%>
  </div>
<%end%>
